node_modules
yarn.lock
package-lock.json
pnpm-lock.yaml

dist

.env
.env.local
.env.development
.env.development.local

.DS_Store
Thumbs.db

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

cypress